div.tooltip {color: #fff;background-color: rgb(0,0,0,0.7);padding: .5em;border-radius: 2px;position: absolute;border: 1px solid black;max-width:225px;visibility:hidden;font-size:12px}
.tooltip p{margin:0;font-weight:300;margin-left:5pt}
.tooltip div{margin-bottom:5pt}
.legends{padding: 0;list-style: none;margin: 0;display: grid;grid-template-columns: repeat(2,1fr);}
.legends li {margin: 5px 0;text-transform: uppercase;display: block;font-size: 10px;font-family: 'Montserrat', Arial, sans-serif;line-height: normal;}
.legends.map .legend{padding: 0 5px;}
.legend{padding: 1px 10px ;margin-right: 2px;border: 1px solid #000;}
.map-container{
    position: relative;
    margin-bottom: 1em;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 40px;
  z-index: 1;
  }
   
  .legend h4 {
  margin: 0 0 10px;
  }
   
  .legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
  }



  


.card {
  max-width: 960px;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .card {
    flex-direction: row;
    align-items: center;
    margin: 40px;
    padding: 32px;
  }
}

.card{
 --font-family-primary: "Vollkorn", serif;
 --font-family-secondary: "PT Sans", sans-serif;
 --font-size-title: 32px;
 --line-height-title: 1.4;
 --font-size-caption: 14px;
 --line-height-caption: 1.2;
 --color-text: #222022;
 --color-highlight-primary: #FFEF7E;
 --color-highlight-secondary: #B7F9E9;
 --border-radius-primary: 32px;
}

.card button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  font-size:20px;
  box-sizing:border-box;
  border-radius: 7px;
}

/* tab */
ul.tabs{display:grid;list-style-type:none;padding:0;grid-template-columns: repeat(4 , 25%);font-family: 'Montserrat', sans-serif;}
ul.tabs li{background: #ffffff;border: 0.5px solid #9a9191;color: #9a9191;text-align: center;padding: 10px 20px;cursor: pointer;margin: 1%}
ul.tabs li:hover{background: #9a9191;color: #ffffff;}
ul.tabs li.current{background: #9a9191;color: #ffffff;border: 0.5px solid #ffffff}
.tab-content{display: none;background: #ededed;padding: 15px;position: relative;opacity: 0;visibility: hidden;}
.tab-content.current{display: block;visibility: visible;opacity: 1;animation: fade 1s;}
.head-tab{display:flex;}
.tutup{font-size: 50px;font-weight: bold;position: absolute;bottom: 5px;right: 5px;}
.tutup:hover{cursor: pointer;color: #9a9191;}
ul.bahasa{margin:0; padding:0 10px;  width:auto; display:inline-flex; height:50px; font-size:12px;}
ul.bahasa a{color:#fff;display: inline-flex;
  align-items: center;}
ul.bahasa li{width:100%; display:inline-flex; align-items:center; justify-content:center;flex-direction:column; position:relative; height:auto; padding:5px;}
ul.bahasa li img{width:20px; height:20px; float:left; margin-right:5px;}
ul.bahasa li ul.sub{display:none;}
ul.bahasa li:hover ul.sub{display:block; position:absolute; top:100%; left:0; right:0; height:auto; background:#000; overflow:hidden; margin:0; padding:0; margin:0 -10px;}
ul.bahasa li ul.sub li{width:100%; display:inline-flex; align-items:flex-start; justify-content:center; flex-direction:column; position:relative; height:auto; padding:10px; border:none; margin:0;}
ul.bahasa li ul.sub li:hover{background:#333;}
.left-navbar ul li:first-child{display:flex; align-items:center; justify-content:center;}
@keyframes openLg {0% { top:-100px; }100%{top: 0;}}
@keyframes closeLg {0%{top: 0;}100% { top: -100px;}}
@keyframes fade {0% {opacity: 0;}100% {opacity: 1;}}

@media only screen and (max-width: 950px) {
ul.tabs {display: block;}
.tab-content h3{width: 90%}
}

.rcorners4 {
  border-radius: 15px;
  border: 1.5px solid black;
  padding: 20px;
}

.card__title h1{
  font-family: Montserrat;
  font-size: 50px;
  line-height: 43px;
}

.rcorners4 h3{
  font-style: italic;
  font-weight: lighter;
}

.rcorners4 h1{
  font-size: 32px;
}
@import url('https://fonts.googleapis.com/css?family=Raleway');
#text{
display:none;
}

.rcorners4 btn-container{
  margin: auto;
  height:44px;
  width:166.23px;
}

a:active{
  color:#ffd323;
}
.rcorners4 button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  font-size:20px;
  box-sizing:border-box;
  border-radius: 7px;
}
.rcorners4 p{
  font-size:15px;
}


.card__image {
  width: 100%;
  max-height: 300px;
  border-radius: var(--border-radius-primary);
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 18px;
}
@media (min-width: 576px) {
  .card__image {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .card__content {
    width: 55%;
    padding-left: 40px;
  }
}

.card__date {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  color: var(--color-text);
  margin-bottom: 6px;
}
@media (min-width: 576px) {
  .card__date {
    margin-bottom: 8px;
  }
}

.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
}

#map-world{
    cursor: grab;
    background-color: #fff;
}
.textCountry{
    fill: #000;
}
.leaflet-control-container{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.leaflet-top-leaflet-left{
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 4px;
    cursor: pointer;
}
.leaflet-control-zoom{
    display: grid;
}
.leaflet-control-zoom a{
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
.leaflet-control-zoom a:hover{
    background-color: #f4f4f4;
}
.leaflet-control-zoom a:first-child{
    border-bottom: 1px solid #ccc;
}
@media (max-width: 740px){
    .legends{position: unset;padding: 0;display: block;}
    .legends li{display: list-item;}
}
		#map {
            top:0;
            height: 100vh;
            width:100vw;
            position:sticky;
        }
		/*
        #header {
            margin: auto;
            width: 100%;
            position: relative;
            z-index: 5;
        }
        #header h1, #header h2, #header p {
            margin: 0;
            padding: 2vh 2vw;
            text-align: center;
        }
        #footer {
            width: 100%;
            min-height: 5vh;
            padding-top: 2vh;
            padding-bottom: 2vh;
            text-align: center;
            line-height: 25px;
            font-size: 13px;
            position: relative;
            z-index: 5;
        }
		*/
        #features {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
        .hidden {
            visibility: hidden;
        }
        .centered {
            width: 50vw;
            margin: 0 auto;
        }
        .lefty {
            width: 33vw;
            margin-left: 5vw;
        }
        .righty {
            width: 33vw;
            margin-left: 62vw;
        }
        .fully {
            width: 100%;
            margin: auto;
        }
        .light {
            color: #444;
            background-color: #fafafa;
        }
        .dark {
            color: #fafafa;
            background-color: #444;
        }
        .step {
            padding-bottom: 50vh;
            /* margin-bottom: 10vh; */
            opacity: 0.25;
        }
        .step.active {
            opacity: 0.9;
        }

        .step div {
            padding:  25px 50px;
            line-height: 25px;
            font-size: 13px;
        }

        .step img {
            width: 100%;
        }

        @media (max-width: 750px) {
            .centered, .lefty, .righty, .fully {
                width: 90vw;
                margin: 0 auto;
            }
        }

        /* Fix issue on mobile browser where scroll breaks  */
        .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan, 
        .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
            touch-action: unset;
        }